header {
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 15px;
 }
 
 a {
    text-decoration: none;
}
 
 .main_part{
    color: white;
    text-decoration: none;
    margin: 25px 25px;
}

.main_part:hover {
    color: white;
    padding: 20px;
    background-color: rgb(121, 192, 121);
}

.myTable {
    width: 600px;
    margin: auto;
    border: 1px solid black;
    line-height: 30px;    
}

th,
td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.topTable {
    background-color: aliceblue;
    padding: 10px;
}

.a_delete, .a_update {
    padding: 10px;
    font-weight: 700;
}

.a_delete {

    color: red;
}

.error_txt {
    color:red;    
    font-size: 16px;
    font-weight: 700;
}



.btn_submit, .btn_cancel {
    margin-top: 10px;
    background-color: rgb(1, 137, 41);
    color: white;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    box-shadow: 3px 3px rgb(200, 200, 200);
}

.btn_delete {
    background-color:red;
    color: white;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    box-shadow: 3px 3px rgb(200, 200, 200);
}

